
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons */
#status-buttons a.active span   { background: aquamarine; }



@font-face {
    font-family: 'Marske';
    src: url('../fonts/Marske.otf')
    format('opentype');
    src: url('../fonts/Marske.ttf')
    format('truetype');
}
@font-face {
    font-family: 'zekton';
    src: url('../fonts/zekton%20rg.ttf')
    format('truetype');
}
@-webkit-keyframes bgAnimate {
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
}
@-moz-keyframes bgAnimate {
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
}
@keyframes bgAniamte{
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
}

body {

   /*background-image: url(../img/space2DarkerEvenDarker.jpg);
*/
    background: linear-gradient(136deg, #000000, #000505, #181d38, #01051a);
    background-size: 800% 800%;

    -webkit-animation: bgAnimate 17s ease infinite;
    -moz-animation: bgAnimate 17s ease infinite;
    animation: bgAnimate 17s ease infinite;




    background-color: #0e0e0e;
}

.fontStyle {
    font-family: Marske;
    font-size: 30px;
    text-shadow: 2px 2px 9px #005399;
}
    .fontStyle:hover {
        animation: blur .75s ease-out;
        text-decoration: none;
    }


.navbar-default {

    background-color: rgba(0,0,0,.34);

}
.navbar-brand {

    font-family: Marske;
    color: aquamarine;
    font-size: 40px;
    text-shadow: 2px 2px 9px #005399;

}
.navbar-brand:hover {

    /*animation: blur .75s ease-out;*/
    color: black;
    background-color: white;
    text-decoration: none;
}

input {
    color: aquamarine;
    background-color:rgba(1, 7, 29, 0.74) ;
}

.kbutton {

    width:300px;
    height: 60px;
    background-color:rgba(1, 7, 29, 0.74) ;
    text-shadow: 2px 2px 9px #005399;
    font-family: Marske;
    font-size: 30px;
    color: aquamarine;
    margin: 10px 10px 10px 10px;
    text-align: center;
    vertical-align: middle;
}

.kbutton:hover {
    transform: scale(1.01);


}

.flashButton {
    animation:blur .75s ease-out;
    text-decoration: none;
}

.fadeOut {
    transition: opacity .8s ease-in-out;
    opacity: 0;
}


@keyframes blur{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;}
}

@keyframes blurOut{
    from{
        text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff;
    }
}


.inputFieldBox {
    color:white;
    background-color: rgba(192, 0, 244, 0.14);
    width: 300px;
    height:50px;
    font-size: 20px;
}



.fontstuffs {
    color: ghostwhite;
    font-size: 25px;
    margin: auto;
    padding: 20px;
}












