

.entryBorderBox {

   /* box-shadow: 0px 0px 7px rgb(139, 135, 255), white 0px 0px 5px inset;
    */
    background-color: rgba(255, 255, 255, 0.03);

    margin: auto;
    padding: 0 0 0 0;
    width: 850px;
    height: 50px;
    text-align: center;
    font-family: zekton;
    font-color: rgba(171, 255, 252, 0.6);
    transition: .5s ease;
    overflow: hidden;

}

.expandedBox {

    height: 100px;
}

.hiddenOptions {

}

#claimEntry {

    color: rgba(15, 255, 0, 0.82);
    text-shadow: 1px 1px 4px #93ff85;
    width: 400px;
}

#hijackEntry {
    color: rgba(0, 9, 255, 0.82);
    text-shadow: 1px 1px 4px #93ff85;
    width: 250px;
}

#clearEntry {
    color: rgba(240, 255, 197, 0.82);
    text-shadow: 1px 1px 4px #93ff85;
    width: 250px;
}

#deleteEntry {
    color: rgba(255, 0, 43, 0.82);
    text-shadow: 1px 1px 4px #ff8190;
    width: 300px;
    cursor: pointer;
    float: right;
}

.entryItem {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    cursor: pointer;

}

.entryItemFadeIn {
    animation: fadeIn 1s, blur 1s;
}

.entryItemFadeOut {
    animation: fadeOut 1s;
}

.boxFadeOut {
    animation: fadeOut 1s;
    transition: height 1.2s ease;
    height: 0px;
}


#studentName {
    width: 250px;
}

#course {
    width: 100px;
}

#tutorAssigned {
    width: 150px;
}

#location {
    width: 150px;
}

#time {
    width: 130px;
}