<div class="box-table">

    <div style="width: 840px; height:450px; margin: auto; background-color: rgba(255,255,255,0.05);
        overflow: auto; border: 3px solid rgba(0, 83, 153, 0.2);">
    <table style="width: 800px">

        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Course</th>
            <th>Tutor Assigned</th>
            <th>Location</th>
            <th>Time</th>
        </thead>


        <tr ng-repeat="listEntry in helpListEntries">
            <td>{{ listEntry.entryId}}</td>
            <td>{{ listEntry.studentObject.name }}</td>
            <td>{{ listEntry.course }}</td>
            <td>{{ listEntry.tutorObject.name }}</td>
            <td>{{ listEntry.location }}</td>
            <td>{{ listEntry.date | date : 'short' }}</td>
        </tr>


    </table>
    </div>
</div>

<!--
<div>
    <form novalidate class="simple-form">
        StudentID: <input type="text" ng-model="newEntry.studentId" /><br />
        Course: <input type="text" ng-model="newEntry.course" /><br />
        Tutor: <input type="text" ng-model="newEntry.tutor" /><br />
    </form>

</div>

<a class="kbutton"> form = {{newEntry | json}}</a>
<br/>


<button style="float: right" class="kbutton" type="button" ng-click="postListEntry(newEntry.studentId,newEntry.course,newEntry.tutor)   "> TEST POST </button>
<br/>
<br/>
<br/>


<button style="float: right" class="kbutton" type="button" ng-click="deleteListEntry(entryToDelete)"> TEST DELETE for {{entryToDelete}}</button>
<form style ="float: right" novalidate class="simple-form">
    Delete Entry: <input type="text" ng-model="entryToDelete" /><br />
</form>

-->

<!--
<button class="kbutton" type="button" ng-click="getStudent(999999993)"> TEST GET STUDENT </button>
-->
<div style="margin: auto; padding: 20px">
StudentID: <input type="text" ng-model="newEntry.studentId" style="border: 1px solid darkslategrey"/><br />
    <a style="align-content: center" ui-sref=".newEntryForm.selectCourse" class="btn kbutton" ng-click="getStudentName(newEntry.studentId)">LAUNCH FORM </a>
    <br/><br/>
    Entry to pick: <input type="text" ng-model="tutorAssignment.entryId" style="border: 1px solid darkslategrey"/> <br />
    <a class="btn kbutton" ng-click="putTutor(tutorAssignment.tID)" >TEST PUT</a>
    <a> TEST ASSIGN {{tutorAssignment.tID}} to entry: {{tutorAssignment.entryId}}(http Put)</a> <br/>
</div>
<div style="position:   fixed; top: 10%; width: 100%;  " ui-view></div>