<div class="box-table">

    <div style="width: 840px; height:450px; margin: auto; background-color: rgba(244, 0, 54, 0.05);
        overflow: auto; border: 3px solid rgba(153, 0, 0, 0.2);">
        <table style="width: 800px">

            <thead>
            <th>#</th>
            <th>Name</th>
            <th>Course</th>
            <th>Tutor Assigned</th>
            <th>Location</th>
            <th>Time</th>
            </thead>


            <tr ng-repeat="listEntry in helpListEntries | orderBy:'date'" ng-click="getSelectedTuteeId($index)">
                <td>{{$index + 1}}</td>
                <td id="listIndex" ng-hide="true"> {{ listEntry.ind }}</td>
                <td>{{ listEntry.studentObject.name }}</td>
                <td>{{ listEntry.course }}</td>
                <td>{{ listEntry.tutorObject.name }}</td>
                <td >{{ listEntry.location }}</td>
                <td>{{ listEntry.date}}</td>
            </tr>


        </table>
    </div>
</div>

TUTOR: {{launcher.tutorObject.name}}
<a class="btn kbutton" ng-click="putTutor()" >TEST PUT</a>
<a> TEST ASSIGN {{tutorAssignment.tId}} to entry: {{tutorAssignment.entryId}}(http Put)</a> <br/>