

<div style="animation: fadeIn 2s">


    <div class="entryBorderBox">
        <div class="entryItem" id="studentName">
            Name
        </div>

        <div class="entryItem" id="course">
            Course
        </div>

        <div class="entryItem" id="tutorAssigned">
            Tutor
        </div>

        <div class="entryItem" id="location">
            Location
        </div>

        <div class="entryItem" id="time">
            Time
        </div>
    </div>



    <tutor-View-List-Entry entries=helpListEntries></tutor-View-List-Entry>


</div>

<p class = "fontStyle"> TUTOR: {{launcher.tutorObject.name}} </p>
<p class="fontStyle">Entry: {{launcher.entryId}} </p>

