

<div style="animation: fadeIn 2s; text-align: center; ">
    <p class = "fontStyle" ng-controller="listPageTutorViewController"> TUTOR: {{tutorObject.name}} </p>

    <div class="entryBorderBox">
        <div class="entryItem" id="studentName">
            Name
        </div>

        <div class="entryItem" id="course">
            Course
        </div>

        <div class="entryItem" id="tutorAssigned">
            Tutor
        </div>

        <div class="entryItem" id="location">
            Location
        </div>

        <div class="entryItem" id="time">
            Time
        </div>
    </div>



    <tutor-View-List-Entry entries=helpListEntries></tutor-View-List-Entry>


</div>



