<div class="box-table">

    <div style="width: 840px; height:450px; margin: auto; background-color: rgba(255,255,255,0.05);
        overflow: auto; border: 3px solid rgba(0, 83, 153, 0.2);">
    <table style="width: 800px">

        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Course</th>
            <th>Tutor Assigned</th>
            <th>Location</th>
            <th>Time</th>
        </thead>


        <tr ng-repeat="listEntry in helpListEntries | orderBy:'date' " ng-click="getSelectedTuteeId($index)">
            <td>{{$index + 1}}</td>
            <td id="listIndex" ng-hide="true"> {{ listEntry.ind }}</td>
            <td>{{ listEntry.studentObject.name }}</td>
            <td>{{ listEntry.course }}</td>
            <td>{{ listEntry.tutorObject.name }}</td>
            <td >{{ listEntry.location }}</td>
            <td>{{ listEntry.date}}</td>
        </tr>


    </table>
    </div>
</div>

<button style="float: right" class="btn kbutton" ng-click="generateSampleEntries()">Generate Sample Entries</button>




<!--
<button class="kbutton" type="button" ng-click="getStudent(999999993)"> TEST GET STUDENT </button>
-->
<div style="margin: auto; padding: 20px">
StudentID: <input type="text" ng-model="newEntry.studentId" style="border: 1px solid darkslategrey"/><br />



    <a style="align-content: center" class="btn kbutton"
       ng-click="identifyLaunchState()">LAUNCH FORM (new) {{launchStateIdentifier}} </a>

    <br/><br/>

    Tutor to put: <input type="text" ng-model="tutorAssignment.tId" style="border: 1px solid darkslategrey"/> <br />
    <a class="btn kbutton" ng-click="putTutor()" >TEST PUT</a>
    <a> TEST ASSIGN {{tutorAssignment.tId}} to entry: {{tutorAssignment.entryId}}(http Put)</a> <br/>
</div>



Entry to pick: <input type="text" ng-model="tutorAssignment.entryId" style="border: 1px solid darkslategrey"/> <br />
<a class="btn kbutton" ng-click="deleteEntry(tutorAssignment.entryId)" >TEST DELETE</a>
<a> TEST DELETE {{tutorAssignment.dId}} (http DELETE)</a> <br/>
</div>
<div style="position:   fixed; top: 10%; width: 100%;  " ui-view></div>