


<div style="text-align: center; ">
    <div style="text-align: center; display: inline-block">
        <div class="imgButt">

            <span class="testImageButton" ng-click="blastTheImage()">

                Do the Image Thing <br> :|

            </span>

            <img src="img/fabfloorplan.jpg"/>

            <div class="testImgBack" ng-click="goBack()">

                <div style="display: table-cell;
                     vertical-align: middle;
                     margin: auto; ">
                    <span class="glyphicon glyphicon-circle-arrow-left "> </span> Back
                </div>
            </div>

        </div>
    </div>
</div>