
<div ng-repeat="entry in helpListEntries | orderBy: 'date' ">
    <div class="entryBorderBox entryNumber{{$index}}" ng-click="expandBox($index)">
        <div style="height: 50px">

            <div class="entryItem" id="TlistIndex" ng-hide="false"> {{ entry.ind }}</div>

            <div class="entryItem" id="studentName">
                {{ entry.studentName }}
            </div>

            <div class="entryItem" id="course">
                {{ entry.course }}
            </div>

            <div class="entryItem" id="tutorAssigned">
                {{ entry.tutorObject.name }}
            </div>

            <div class="entryItem" id="location">
                {{ locations[entry.location] }}
            </div>

            <div class="entryItem" id="time">
                {{ entry.date.substring(12, 23) }}
            </div>


        </div>
        <div class="hiddenOptions">

            <div class="entryItem" id="claimEntry"
                 ng-hide="entry.tutorObject.name" ng-click="putTutor(launcher.tId, $index)"> CLAIM </div>

            <div class="entryItem" id="hijackEntry"
                 ng-show="entry.tutorObject.name" ng-click="putTutor(launcher.tId, $index)"> HIJACK</div>

            <div class="entryItem" id="clearEntry"
                 ng-show="entry.tutorObject.name" ng-click="removeTutor($index)"> CLEAR </div>

            <div class="entryItem" id="deleteEntry" ng-click="deleteEntry(launcher.entryId, $index)"> DELETE </div>
        </div>

    </div>


</div>

