
<div class="text-center">
    <h3>Confirm Entry</h3>

    <h5> Name: {{ newEntry.studentObject.name }}</h5>
    <h6> Course: {{ newEntry.course }}</h6>
    <h6> Location: {{ newEntry.location }}</h6>

    <a class="kbutton" ng-click="postListEntry(newEntry.studentId,newEntry.course,newEntry.tutor, newEntry.location)" ui-sref="listPage">
        Submit <span class="glyphicon glyphicon-ok-circle"></span>
    </a>

    <br/>
    <a ui-sref="listPage" class="kbutton">
        Cancel <span class="glyphicon glyphicon-remove-circle"></span>
    </a>
</div>