
<div class="text-center">
    <h3>Confirm Entry</h3>

    <h5> Name: {{ launcher.studentObject.name }}</h5>
    <h6> Course: {{ launcher.course }}</h6>
    <h6> Location: {{ launcher.location }}</h6>

    <br/><br/><br/>
    <a ui-sref="listPage.newEntryForm.selectLocation" class="kbutton" style="float: left; background-color: transparent">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous

    <a class="kbutton" ng-click="postListEntry(launcher.tId,launcher.course, 0 , launcher.location)"
       ui-sref="listPage" style="float: right; background-color: transparent">
        Submit <span class="glyphicon glyphicon-ok-circle"></span>
    </a>

    <br/><br/>
        <a ui-sref="listPage" class="kbutton"style="float: bottom; background-color: transparent">
            Cancel <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
</div>