
    <div class="text-center">
        <form novalidate class="simple-form">
        <label class="fontStyle" style="text-align: center; margin:auto; font-size: 18px;">Enter Course - (Will have button selection later)</label> <br/>
        <br/>
            <input type="text" class="fontStyle" style="text-align: center;width: 200px; height: 60px;" ng-model="newEntry.course">
        </form>
    </div>

    <div class="text-center">
        <a ui-sref="listPage.newEntryForm.selectLocation" class="kbutton">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    <br/>
        <a ui-sref="listPage" class="kbutton">
            Cancel <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
    </div>
