<div class="text-center">
    <form novalidate class="simple-form">
        <label class="fontStyle" style="text-align: center; margin:auto; font-size: 18px;">Enter Location - (Will have button selection later)</label> <br/>
        <input type="text" class="fontStyle" style="text-align: center;width: 200px; height: 60px;" ng-model="newEntry.location">
    </form>
</div>


<div class="text-center">
    <a ui-sref="listPage.newEntryForm.confirm" class="kbutton">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
